@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700&display=swap');

.ck-join-waitlist-section-container {
    font-family: 'Poppins', sans-serif;
    width: 75%;
    margin: auto;
    margin-top: 4rem;
    padding: 3rem;
    border-radius: 24px;
    background:
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #F0EEEE;
    overflow-x: hidden;

}

.ck-join-waitlist-inner-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ck-join-waitlist-info {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.ck-join-waitlist-info>h1,
p {
    color: #006696;
}

.ck-joinwaitlsit-form-container {
    margin: auto;
    display: flex;
    justify-content: space-between;

    flex: 1;
    border: 1px solid #F0EEEE;
    border-radius: 24px;
    padding: 40px;
    margin-left: 2rem;
}

.ck-waitlist-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 15rem;
    background-color: #008DD2 !important;
}

@media (max-width: 768px) {
    .ck-join-waitlist-section-container {
        width: 100%;
    }

    .ck-join-waitlist-inner-container {
        display: block;
        width: 100%;
    }

    .ck-joinwaitlsit-form-container {
        display: block;
        width: 100%;
        margin: auto;
    }

    .ck-waitlist-btn {
        gap: 1.5rem !important;

    }
}

@media (max-width: 1050px) {
    .ck-join-waitlist-section-container {
        margin-top: 2rem;
        width: 100%;
        margin: auto;
    }

    .ck-join-waitlist-inner-container {
        display: block;
        width: 100%;
    }

    .ck-joinwaitlsit-form-container {
        display: block;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .ck-waitlist-btn {
        gap: 15rem;
    }
}

@media (max-width: 1255px) {
    .ck-waitlist-btn {
        gap: 13rem;
    }
}