.ck-main-info {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ck-top-heading {
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.1px;
}

.ck-top-paragraph {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    text-align: center;
}

.button-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.ck-join-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 232px;
    height: 57px;
    padding: 15px, 30px, 15px, 30px;
    border-radius: 30px;
    gap: 40px;
    background: #FFFFFF;
    color: #006696;
}

.ck-info-video-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ck-info-video {
    width: 100%;
    max-width: 560px;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    /* Center the container horizontally */
}



.ck-info-para {
    margin-top: -8rem;
    height: 24px;

}

.ck-info-para>p {
    color: #fff;

}

@media only screen and (max-width: 575px) {
    .ck-main-info {
        margin-top: 0 !important;
        gap: 10px;
    }

    .ck-top-heading {
        font-size: 28px !important;
        line-height: 1rem;
        margin-top: 0.5rem;
    }

    .ck-top-paragraph {
        font-size: 14px !important;
        line-height: 1rem !important;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    .ck-join-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 165px;
        height: 36px;
        border-radius: 30px;
        gap: 40px;
        background: #FFFFFF;
        color: #006696;
        font-weight: 500;
        font-size: 14px;
    }

    .ck-info-video-section {
        flex-direction: column;
        justify-content: center;
        gap: 40px !important;
        margin-top: -4rem !important;
    }

    .ck-info-video iframe {
        max-width: 320px !important;
        margin: auto !important;
    }

    .ck-info-para {
        margin-top: -3rem !important;
    }

    .ck-english>p {
        margin-top: 7.9rem !important;
        font-size: 12px;
        font-weight: 600;

    }


    .ck-nepali>p {
        margin-top: -4.2rem !important;
        font-size: 12px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 914px) {
    .ck-info-video-section {
        margin-top: -5rem !important;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .ck-info-video {
        margin: auto
    }

    .ck-last-message {
        margin: auto;
    }

    .ck-last-message>p {
        text-align: justify;
    }

    .ck-info-video>iframe {
        width: 400px;
        margin: auto;
    }

    .ck-info-para {
        margin-top: 0;
    }
}



/* @media only screen and (max-width: 1055px) {}

.ck-info-video-section {
    flex-direction: column !important;
}

@media only screen and (max-width: 1255px) {
    .ck-info-video-section {
        margin-top: -3rem;
    }

    .ck-info-para {
        margin-top: 0 !important;
    }

} */